{
    "ConnectionStrings": {
        "MongoDb": "mongodb://localhost:27017"
    },
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "Auth0": {
        "Authority": "<Auth0 Authority>",
        "Audience": "obsidian-api",
        "ClientId": "<ClientId>",
        "ClientSecret": "<ClientSecret>"
    },
    "Tokens": {
        "GitHub": "<GitHubToken>"
    },
    "Common": {
        "Name": "Obsidian API",
        "Email": "<Email>",
        "UserAgent": "obsidian-api"
    },
    "AllowedHosts": "*"
}
